@{
    ViewData["Title"] = "Detalhes das lojas";
}

<div class="text-center">
    <h1 class="display-4">Detalhes das lojas</h1>

    <p>@Model.Descricao</p>
    <p>Id: @Model.Id</p>
    <p>Piso: @Model.Piso</p>
    <p>Email: @Model.Email</p>
    <p>Loja ou Kiosque: @Model.LojaKiosq</p>
</div>

<form action="Loja/Excluir/@Model.Id">
    <button class="btn btn-delete">Deletar</button>
</form>